# Marketing Campaign Dataset Data Cleaning by Jamil

## Importing Library

In [1]:
import pandas as pd

## Importing Dataset

In [2]:
df = pd.read_csv("marketing_campaign.csv")

In [3]:
df.head(5)

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Date,Clicks,Impressions,Engagement_Score,Customer_Segment
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,01-01-21,506,1922,6,Health & Wellness
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,01-02-21,116,7523,7,Fashionistas
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,01-03-21,584,7698,1,Outdoor Adventurers
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,01-04-21,217,1820,7,Health & Wellness
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,01-05-21,379,4201,3,Health & Wellness

## Check Basics Information

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200005 entries, 0 to 200004
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       200005 non-null  int64
 1   Company           200005 non-null  object
 2   Campaign_Type     200005 non-null  object
 3   Target_Audience   200005 non-null  object
 4   Duration          200005 non-null  object
 5   Channel_Used      200005 non-null  object
 6   Conversion_Rate   200005 non-null  float64
 7   Acquisition_Cost  200005 non-null  object
 8   ROI               200005 non-null  float64
 9   Location          200005 non-null  object
 10  Date              200005 non-null  object
 11  Clicks            200005 non-null  int64
 12  Impressions       200005 non-null  int64
 13  Engagement_Score  200005 non-null  int64
 14  Customer_Segment  200005 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 22.9+ MB

In [5]:
df.describe()

,Campaign_ID,Conversion_Rate,ROI,Clicks,Impressions,Engagement_Score
count,200005.000000,200005.000000,200005.000000,200005.000000,200005.000000,200005.000000
mean,100003.000000,0.080069,5.002416,549.774591,5507.307107,5.494673
std,57736.614632,0.040602,1.734485,260.019354,2596.863794,2.872593
min,1.000000,0.010000,2.000000,100.000000,1000.000000,1.000000
25%,50002.000000,0.050000,3.500000,325.000000,3266.000000,3.000000
50%,100003.000000,0.080000,5.010000,550.000000,5518.000000,5.000000
75%,150004.000000,0.120000,6.510000,775.000000,7753.000000,8.000000
max,200005.000000,0.150000,8.000000,1000.000000,10000.000000,10.000000

## Check null and missing values

In [6]:
df.isnull().sum()

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Date                0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
dtype: int64

In [7]:
(df == '').sum()

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Date                0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
dtype: int64

## Check Duplicates

In [8]:
df.duplicated().any()

np.False_

## Fixing Data Types

In [9]:
df.dtypes

Campaign_ID           int64
Company              object
Campaign_Type        object
Target_Audience      object
Duration             object
Channel_Used         object
Conversion_Rate     float64
Acquisition_Cost     object
ROI                 float64
Location             object
Date                 object
Clicks                int64
Impressions           int64
Engagement_Score      int64
Customer_Segment     object
dtype: object

In [10]:
df['Duration']=df['Duration'].str.replace(" days", " ").astype(int)

In [11]:
df['Acquisition_Cost']=pd.to_numeric(df['Acquisition_Cost'].astype(str)
                    .str.replace(r'[\$,]', '', regex=True)
                    .str.strip(),
                    errors='coerce')

In [15]:
df['Date']= pd.to_datetime(df['Date'], format='%m-%d-%y')

In [16]:
df.dtypes

Campaign_ID                  int64
Company                     object
Campaign_Type               object
Target_Audience             object
Duration                     int64
Channel_Used                object
Conversion_Rate            float64
Acquisition_Cost           float64
ROI                        float64
Location                    object
Date                datetime64[ns]
Clicks                       int64
Impressions                  int64
Engagement_Score             int64
Customer_Segment            object
dtype: object

In [18]:
df.isna().sum()

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Date                0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
dtype: int64

In [19]:
df.head(5)

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Date,Clicks,Impressions,Engagement_Score,Customer_Segment
0,1,Innovate Industries,Email,Men 18-24,30,Google Ads,0.04,16174.0,6.29,Chicago,2021-01-01,506,1922,6,Health & Wellness
1,2,NexGen Systems,Email,Women 35-44,60,Google Ads,0.12,11566.0,5.61,New York,2021-01-02,116,7523,7,Fashionistas
2,3,Alpha Innovations,Influencer,Men 25-34,30,YouTube,0.07,10200.0,7.18,Los Angeles,2021-01-03,584,7698,1,Outdoor Adventurers
3,4,DataTech Solutions,Display,All Ages,60,YouTube,0.11,12724.0,5.55,Miami,2021-01-04,217,1820,7,Health & Wellness
4,5,NexGen Systems,Email,Men 25-34,15,YouTube,0.05,16452.0,6.50,Los Angeles,2021-01-05,379,4201,3,Health & Wellness

## Adding Required Columns

In [20]:
df['Spend']=df['Acquisition_Cost']*df['Conversion_Rate']

In [23]:
df['CTR']=(df['Clicks']/df['Impressions'])*100

In [24]:
df.head(1)

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Date,Clicks,Impressions,Engagement_Score,Customer_Segment,Spend,CTR
0,1,Innovate Industries,Email,Men 18-24,30,Google Ads,0.04,16174.0,6.29,Chicago,2021-01-01,506,1922,6,Health & Wellness,646.96,26.326743

In [25]:
df.dtypes

Campaign_ID                  int64
Company                     object
Campaign_Type               object
Target_Audience             object
Duration                     int64
Channel_Used                object
Conversion_Rate            float64
Acquisition_Cost           float64
ROI                        float64
Location                    object
Date                datetime64[ns]
Clicks                       int64
Impressions                  int64
Engagement_Score             int64
Customer_Segment            object
Spend                      float64
CTR                        float64
dtype: object

## Export Data

In [26]:
df.to_csv("Marketing_Campaign_Cleaned.csv", index=False)